# Ignore the virtual environment (The Pi must build its own ARM version)
.venv/
venv/
env/

# Ignore Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local database and logs (we use volumes for these)
*.db
*.log

# Ignore local git history
.git
.gitignore

# Ignore uv specific files
.uv

# Ignore OS metadata
.DS_Store