# .env

# Scheduling
SCHEDULE_MODE=True
SCHEDULE_TIME="10:00"
LATE_SCHEDULE_MODE=False

# Google Sheets API
GOOGLE_SPREADSHEET_ID=<your_sheet_id>
GOOGLE_APPLICATION_CREDENTIALS=<your_google_credentials_file>