# .env

# Scheduling
SCHEDULE_MODE=True
SCHEDULE_TIME="10:00"
LATE_SCHEDULE_MODE=False

# Google Sheets API
GOOGLE_APPLICATION_CREDENTIALS=<your_google_credentials_file>
GOOGLE_SPREADSHEET_ID=<your_sheet_id>

# Mail Notifier
GMAIL_ADDRESS=<your_gmail_address>
GMAIL_PW=<your_gmail_app_pw>
TEST_MAIL_ADDRESS=<your_test_email_address>